<%= commander.long_description %>
Usage:
  <%= commander.usage %>
<%= if commands != "" do %><%= "\n" %>Commands:<%= commands %><% end %>
<%= if flags != "" do %><%= "\n" %>Flags:<%= flags %><% end %>
<%= if global_flags != "" do %><%= if flags != "", do: "\n", else: "" %>Global Flags:<%= global_flags %><% end %>
