<%= commander.long_description %>
Usage:
  <%= commander.usage %>
<%= if length(commands) > 0 do %>
Commands: <%= for command <- commands do %>
  <%= command.name %><%= command.padding %><%= command.description %><% end %><% end %>
